{% extends "Food_Scanner/base.html" %}
{% block content %}

    <h1> About Carbon Foodprint</h1>

    <p>Carbon Foodprint is an application dedicated to reducing the CO2 impact of eating on university campuses! We are a team of passionate individuals who believe in the power of technology to make a positive impact on our environment.</p>
    <p>Our mission is to encourage students to make more sustainable food choices by providing them with a simple and fun tool to track and improve their food choices. Our application enables users to scan the barcodes of their food products, and based on the nutritional and environmental information of the products, users are scored on how sustainably they eat.</p>
    <p>We understand that university campuses can be busy and hectic environments, making it challenging for students to make informed food choices. By using our application, students can easily access information about the environmental impact of their food choices, and make more informed decisions when choosing what to eat.</p>
    <p>Users can compete against each other on their campuses to see who is the most sustainable. But they can also play against themselves, trying to meet specific goals set out.</p>
    <p>Students may even use the application at home, learning how sustainably they eat as a whole, but don’t worry. There is no getting points off campus. That’d reduce the fun!</p>
    <p>We believe that small changes can make a big impact, and our application is just one small step towards a more sustainable future. Join us in our mission to reduce the CO2 impact of eating on university campuses, and let's make a positive impact on our environment together!</p>
    
    <hr>

    <h2>How Scores are calculated</h2>
    <p>The points awarded by each product is based on a variety of factors such as:</p>
    <ul>
        <li>CO2 released during its production</li>
        <li>Sustainability of packaging materials</li>
        <li>Origin of ingredients</li>
        <li>Impact on wildlife</li>
    </ul>
    <p> And many more!</p>

{% endblock content%}