{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />

        <link rel="stylesheet" type="text/css" href="{% static 'Food_Scanner/main.css' %}" />

        {% if title %}
        <title>Food_Scanner - {{ title }}</title>
        {% else %}
        <title>Food_Scanner</title>
        {% endif %}
    </head>
    <body>
        <div class="topnav">
            <a href="{% url 'Food_Scanner-home' %}">Home</a>
            <a href="{% url 'Food_Scanner-about' %}">About</a>
            {% if loggedIn is False %}
            <a href="{% url 'Food_Scanner-login' %}">Log-In</a>
            <a href="{% url 'user-register' %}">Register</a>
            {% endif %}
            <a href="{% url 'Food_Scanner-leaderboard' %}">Leaderboard</a>
            <a href="{% url 'Food_Scanner-profile' %}">Profiles</a>
        </div>

        {% if messages %} {%for message in messages %}
        <div>{{ message }}</div>
        {% endfor %} {% endif %}

        <main role="main" class="container">
            <div class="row">
              <div class="col-md-8">
                {% block content %}{% endblock %}
              </div>
            </div>
          </main>
    </body>
</html>
