{% extends "Food_Scanner/base.html" %}
{% load static %}
{% block content %}
    <head>
    <meta charset="utf-8" />
    <title>ECharts</title>
    <script src="{% static 'echarts.js' %}"></script>
  </head>
  <body>
  <table bgcolor="white">
    <tr>
        <td><div id="main" style="width: 600px;height:400px;"></div></td>
        <td><div id="main3" style="width: 600px;height:400px;"></div></td>
        </tr>
    <tr><td><div id="main2" style="width: 600px;height:400px;"></div></td>
        </tr>
      </table>
    <script type="text/javascript">
      var myChart = echarts.init(document.getElementById('main'));
      var myChart2 = echarts.init(document.getElementById('main2'));
      var myChart3 = echarts.init(document.getElementById('main3'));
      var option = {
          itemStyle: {
              color:'green'
          },
        title: {
          text: 'My daily food'
        },
        tooltip: {},
        legend: {
          data: ['Numbers']
        },
        xAxis: {
          data: ['Drinks', 'Snacks', 'Fruits', 'Vegetables', 'Proteins']
        },
        yAxis: {},
        series: [
          {
            name: 'Numbers',
            type: 'bar',
            data: [{{ user.Drink }}, {{ user.Snack }}, {{ user.Fruit }}, {{ user.Vegetable }}, {{ user.Protein }}]
          }
        ]
      };

      var option2 = {
  series: [
    {
      type: 'pie',
      data: [
        {
          value: {{user.Drink}},
          name: 'Drink'
        },
        {
          value: {{ user.Snack }},
          name: 'Snacks'
        },
        {
          value: {{ user.Fruit }},
          name: 'Fruits'
        },
          {
          value: {{ user.Vegetable }},
          name: 'Vegetable'
          },
          {
          value: {{ user.Protein }},
          name: 'Protein'
          }
      ]
    }
  ]
};


     var option3 = {
  xAxis: {
    data: ['Drinks', 'Snack', 'Fruit', 'Vegetable', 'Protein']
  },
  yAxis: {},
  series: [
    {
      data: [{{user.Drink}}, {{ user.Snack }}, {{ user.Fruit }}, {{ user.Vegetable }}, {{ user.Protein }}],
      type: 'line',
      areaStyle: {}
    },
    {
      data: [4, 2, 5, 5, 5],
      type: 'line',
      areaStyle: {
        color: '#ff0',
        opacity: 0.5
      }
    }
  ]
};
      myChart.setOption(option);
      myChart2.setOption((option2));
      myChart3.setOption((option3));
    </script>
  </body>
{% endblock content %}
