{% extends "Food_Scanner/base.html" %}
{% block content %}
    <form id="barcodeEntryForm" action="/item" method="GET">
        <br>
        <input type="number" min="0" max="9999999999999" id="barcodeNumEntry" name="barcodeNumber" placeholder="Enter barcode number here">
        <input type="button" id="addItem" name="addItem" value="+"><br><br>
        <input type="submit" value="Submit" id="barcodeNumSubmit">
    </form>
    <form id="barcodeEntryForm" action="/upload_barcode" method="POST" enctype="multipart/form-data">
        <br><label for="barcodeImage" class="btn" id="scanBarcodeLabel">Scan Barcode</label>
        <input type="file" name="barcodeImage" id="barcodeImage" accept="image/*" capture="environment" style="visibility: hidden; text-align: center;" onchange="form.submit()">
    </form>
{% endblock content%}