{% extends "Food_Scanner/base.html" %}
{% block content %}
    {%if isError == True %}
        <h1>{{ errorMsg }}</h1>
    {% elif isAdd == True %}
        <h1>Added {{ addPts }} pts</h1>
    {% else %}
        <div style="text-align: center;">
            <h1 class="scores">{{ name }}</h1>
            <img class="itemImage" src="{{ imageLink }}" alt="Item image" width="auto" style="align-self: center;">
            <p class="scores">EcoScore: {{ ecoRating }}</p>
            <p class="scores">Energy per 100g (in kcal): {{ energy }}</p>
            <p class="scores">NutriScore: {{ nutri }}</p>
            <p class="scores">ProcessedScore: {{ proc }}</p>
            <p class="scores">Points: {{ score }}</p>
            <a href="/">
                <button class="btn btn-login" style="width: 100%;">Back</button>
            </a>
            {%if user.is_authenticated %}
                <form id="addPoints" action="/item" method="GET">
                    <br><input type="submit" value="Add {{ score }} pts" name="Add" class="btn btn-login" style="width: 100%;">
                </form>
        </div>
            {% endif %}
    {% endif %}
{% endblock content%}