{% extends "Food_Scanner/base.html" %}
{% block content %}
    <h1>Leaderboard</h1>
    <table class="table">
  <thead>
    <tr>
        <th scope="col">Rank</th>
      <th scope="col">Player</th>
      <th scope="col">Score</th>
    </tr>
  </thead>
  <tbody>
        {% for Demo in d %}
            <tr>
            <th scope="row">{{ Demo.rank }}</th>
           <td>{{ Demo.userName }}</td>
            <td>{{ Demo.userScore }}</td>
            </tr>
      {%  endfor %}
  </tbody>
    </table>
    </body>
{% endblock content%}